In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
def read_data(adr, y_name):
    df = pd.read_csv(adr)
    x = df.loc[:, df.columns != y_name]
    y = df.loc[:, df.columns == y_name]
    return x, y

x, y = read_data('heart.csv', 'target')
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [28]:
y.head()

   target
0       1
1       1
2       1
3       1
4       1

In [31]:
def shuffle(x, y):
    idx = np.random.permutation(x.index)
    x = x.reindex(idx)
    y = y.reindex(idx)
    return x, y

x, y = shuffle(x, y)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
30,41,0,1,105,198,0,1,168,0,0.0,2,1,2
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3
146,44,0,2,118,242,0,1,149,0,0.3,1,1,2
162,41,1,1,120,157,0,1,182,0,0.0,2,0,2

In [32]:
y.head()

     target
2         1
30        1
295       0
146       1
162       1

In [41]:
train_set = people_copy.sample(frac=0.75, random_state=0)
test_set = people_copy.drop(train_set.index)

array([ True, False,  True,  True,  True,  True,  True,  True,  True,
        True])

In [85]:
def data_split(x, y, frac):
    idx = np.random.permutation(x.index)
    train_idx = idx[:int(len(idx) * frac)]
    test_idx = idx[int(len(idx) * frac):len(idx)]
    
    train_x = x.iloc[train_idx, :]
    train_y = y.iloc[train_idx, :]
    test_x = x.iloc[test_idx, :]
    test_y = y.iloc[test_idx, :]
   
    return train_x, train_y, test_x, test_y

data_split(x, y, 0.8)

(     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
 22    42    1   0       140   226    0        1      178      0      0.0
 9     57    1   2       150   168    0        1      174      0      1.6
 255   45    1   0       142   309    0        0      147      1      0.0
 123   54    0   2       108   267    0        0      167      0      0.0
 140   51    0   2       120   295    0        0      157      0      0.6
 ..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
 21    44    1   2       130   233    0        1      179      1      0.4
 235   51    1   0       140   299    0        1      173      1      1.6
 192   54    1   0       120   188    0        1      113      0      1.4
 277   57    1   1       124   261    0        1      141      0      0.3
 65    35    0   0       138   183    0        1      182      0      1.4

      slope  ca  thal
 22       2   0     2
 9        2   0     2
 255      1   3     3
 123      2   0     2
 140      2   0     2
 ..     ...  ..   ...
 21       2   0     2
 235      2   0     3
 192      1   1     3
 277      2   0     3
 65       2   0     2

 [242 rows x 13 columns],      target
 22        1
 9         1
 255       0
 123       1
 140       1
 ..      ...
 21        1
 235       0
 192       0
 277       0
 65        1

 [242 rows x 1 columns],      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
 28    65    0   2       140   417    1        0      157      0      0.8
 222   65    1   3       138   282    1        0      174      0      1.4
 177   64    1   2       140   335    0        1      158      0      0.0
 216   62    0   2       130   263    0        1       97      0      1.2
 113   43    1   0       110   211    0        1      161      0      0.0
 ..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
 42    45    1   0       104   208    0        0      148      1      3.0
 264   54    1   0       110   206    0        0      108      1      0.0
 271   61    1   3       134   234    0        1      145      0      2.6
 150   66    1   0       160   228    0        0      138      0      2.3
 165   67    1   0       160   286    0        0      108      1      1.5

      slope  ca  thal
 28       2   1     2
 222      1   1     2
 177      2   0     2
 216      1   1     3
 113      2   0     3
 ..     ...  ..   ...
 42       1   0     2
 264      1   1     2
 271      1   2     2
 150      2   0     1
 165      1   3     2

 [61 rows x 13 columns],      target
 28        1
 222       0
 177       0
 216       0
 113       1
 ..      ...
 42        1
 264       0
 271       0
 150       1
 165       0

 [61 rows x 1 columns])

In [ ]:
def accuracy(y, y_pred):
    return

In [ ]:
def confusion_matrix(y, y_pred):
    return

In [ ]:
def classification_report(y, y_pred):
    return

In [ ]:
def roc_curve(y, y_pred):
    return

In [ ]:
def t_test(y1, y2):
    return